#addNewEmployee {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}

.profile-details{
    display: none;
    
}

.profile-details-show{
    display: table-row;
    
}
.details .details_email{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
}