* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.header {
	/* background-color: #ddd; */
	flex-grow: 1;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}

.header .profile {
	text-align: center;
}

.container {
	display: flex;
	flex-grow: 4;
	margin-bottom: 10px;
}

.article {
	/* flex-grow: 3; */
	display: flex;
	width: 80%;
}

.about-me {
	/* background-color: #ddd; */
	/* flex-grow: 1; */
	display: flex;
	padding: 20px;
	margin-right: 10px;
}

.section {
	position: relative;
	border: 2px dashed rgba(0, 0, 255, 0.2);
	text-align: justify;
	cursor: pointer;
	flex-grow: 1;
}

.section:hover .section__title {
	color: rgba(0, 0, 255, 0.2);
	font-weight: 700;
}

.section__title {
	position: absolute;
	left: 68px;
	top: -16px;
	background-color: #fff;
	padding: 5px;
}

.section__content {
	padding: 25px;
}

.experience {
	/* background-color: #ddd; */
	/* flex-grow: 1; */
	display: flex;
	padding: 20px;
}

.experience .work-experiece {
	position: relative;
}

.experience .work-experiece::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .4;
	z-index: -1;
	background: url(img/section-bg.png) no-repeat top right;
}

.experience .work-experiece__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
}

.experience .work-experiece__box__title {
	width: 30%;
}

.experience .work-experiece__box__description {
	width: 60%;
	-webkit-transition: 0.8s;
	transition: 0.8s;
}

.skills-content {
	display: flex;
	/* background-color: #ddd; */
	flex-grow: 2;
	width: calc(20% - 10px);
	min-width: 290px;
	padding: 20px;
	margin-left: 10px;
}

.skills {
	text-align: left;
}

.skills__box {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -10px;
}

.skills__box__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 190px;
	flex-basis: 190px;
	font-size: 18px;
	margin-bottom: 20px;
	cursor: pointer;
}

.skills__box__list:last-child {
	margin-bottom: 0;
}

.skills__box__list:hover {
	color: rgba(0, 0, 255, 0.5);
}

.skills__box__list:hover > .skills__box__title {
	border: 1px solid rgba(0, 0, 255, 0.5);
	-webkit-transition: 2s padding;
	transition: 2s padding;
	padding-left: 25%;
}

.skills__box__img {
	position: relative;
	color: #000;
	-ms-flex-preferred-size: 25%;
	flex-basis: calc(25% - 5px);
	height: 45px;
	margin-right: 5px;
	font-size: 34px;
}

.skills__box__img > i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.skills__box__title {
	width: 75%;
	height: 45px;
	border: 1px solid #000000;
	padding: 10px;
}

.footer {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	padding: 20px;
}

.footer .download-cv {
	background-color: rgba(0, 0, 255, 0.2);
	height: 40px;
	padding: 5px;
	border-radius: 10px;
}

.footer .download-cv a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.moveInLeft {
	-webkit-animation-name: moveInLeft;
	animation-name: moveInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.moveInRight {
	-webkit-animation-name: moveInRight;
	animation-name: moveInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.moveInTop {
	-webkit-animation: moveInTop .3s ease-out .55s;
	animation: moveInTop .3s ease-out .55s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

@-webkit-keyframes moveInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes moveInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes moveInTop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes moveInTop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@media screen and (max-width: 1024px) {
	.article {
		flex-direction: column;
	}

	.about-me {
		/* margin-bottom: 10px; */
		margin-right: 0;
	}
}

@media screen and (max-width: 720px) {
	.container {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.article {
		margin-bottom: 10px;
		width: 100%;
	}

	.skills-content {
		width: 100%;

		margin-left: 0px;
	}
	.skills__box__list {
		margin-right: 10px;
	}
}
