* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Muli', sans-serif;
}

button {
	outline: none;
}

section {
	display: flex;
	justify-content: center;
}

.container {
	width: 1200px;
}

.sticky {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

#header-title {
	padding: 30px;
	display: flex;
	justify-content: center;
}

.header-title h1 span {
	font-weight: 400;
}

.header-menu {
	background-color: #3f3d3d;
	border-bottom: 10px solid #118ab2;
}

nav .list-menu {
	min-height: 70px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav .list-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	height: 70px;
	text-decoration: none;
	position: relative;
}

nav .list-menu li a {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

nav .list-menu li a:hover {
	color: #118ab2;
}

.active::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #118ab2;
}

.header-bg {
	display: flex;
	height: 484px;
	width: 100vw;
	background-size: cover;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
}

.header-bg .bg-overlay {
	display: flex;
	justify-content: center;
	align-self: flex-end;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.header-bg .bg-overlay .overlay-content {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: 80px;
	padding: 20px;
}

.header-bg .bg-overlay .overlay-content span {
	align-self: center;
	margin-right: 20px;
	color: #fff;
}

.header-bg .bg-overlay .overlay-content button {
	background-color: #118ab2;
	border: none;
	padding: 20px;
	border-radius: 10px;
	color: #fff;
	font-size: 13px;
	margin-top: 10px;
	cursor: pointer;
}

article {
}

#services {
	margin: 50px 0;
}

#services .services-content {
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
}

#services .services-content .services-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#services .services-content .services-item .circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: -1px 1px 5px -3px rgba(0, 0, 0, 0.75);
	background-color: #118ab2;
}

#services .services-content .services-item .circle i {
	color: #fff;
	font-size: 20px;
}

#services .services-content .services-item h3 {
	margin: 20px 0;
}

#services .services-content .services-item span {
	padding: 0 60px;
}

#subscribe {
	background-color: rgb(242, 242, 242);
}

#subscribe .subscribe-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	text-align: center;
}

#subscribe .subscribe-content hr {
	margin: 20px 0;
	width: 80%;
	opacity: 0.3;
}

#collections {
	margin: 50px 0;
}

#collections .collections-content {
	display: flex;
	flex-wrap: wrap;
}

#collections .collections-content .collections-item {
	display: flex;
	flex-basis: 600px;
	padding: 20px;
}

#collections .collections-content .collections-item .item-image {
	margin-right: 20px;
}

#collections .collections-content .collections-item .item-image img {
	border-radius: 5px;
}

#collections .collections-content .collections-item .item-text h4 {
	margin-bottom: 20px;
}

#quest {
	background-image: linear-gradient(to right top, #118ab2, #1190ba, #1296c2, #129cca, #13a2d2);
	padding: 30px;
}

#quest .quest-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#quest .quest-content h3 {
	color: #fff;
	margin-right: 20px;
}

#quest .quest-content button {
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

footer {
	background-color: rgb(242, 242, 242);
	padding-top: 50px;
}

.footer-links .footer-title {
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-links .footer-links-content {
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
	flex-wrap: wrap;
}

.footer-links .footer-links-content .links {
	margin-right: 60px;
	margin-bottom: 20px;
	flex-grow: 1;
}

.footer-links .footer-links-content .links p {
	margin-bottom: 10px;
}

.footer-links .footer-links-content .links p:last-child {
	margin-bottom: 0;
}

.footer-links .footer-links-content .get-in-touch {
	flex-grow: 1;
}

.footer-links .footer-links-content .get-in-touch input {
	width: calc(50% - 3px);
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.footer-links .footer-links-content .get-in-touch textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.footer-links .footer-links-content .get-in-touch input[type=submit] {
	width: 30%;
	background-color: #3c3c3c;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}

#footer-social {
	display: flex;
	margin-top: 50px;
}

#footer-social .footer-social-content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#footer-social .footer-social-content .social-img {
	display: flex;
	justify-content: center;
}
#footer-social .footer-social-content .social-img img {
	width: 25px;
	height: 25px;
	margin: 10px;
}

#footer-social .footer-social-content h4 {
	margin: 20px 0;
	font-weight: normal;
}

#footer-social .footer-social-content span {
	margin-left: 40px;
}

@media screen and (max-width: 670px) {
	nav .list-menu {
		min-height: 70px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}

	nav .list-menu li {
		border-bottom: 1px solid #118ab2;
	}

	nav .list-menu li:last-child {
		border-bottom: none;
	}

	#services .services-content {
		flex-direction: column;
	}

	#services .services-content .services-item {
		margin: 20px 0;
	}

	#services .services-content .services-item:first-child {
		margin-top: 0;
	}

	#services .services-content .services-item:last-child {
		margin-top: 0;
	}
}

@media screen and (max-width: 530px) {
	.quest .quest-content button {
		margin-top: 10px;
	}
}
