/* For mobile phones: */

@media (min-width: 1200px) {

    .container {
    max-width: 1200px;
    }
}

@media (min-width: 992px) {

    nav {
        display: block!important;
    }
}

@media (max-width:992px){

    .container {
        grid-template-columns: 1fr;
    }

    #grid_items .shop {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        z-index: 2;
        background-color: #fff;
        width: 250px;
        height: 100vh;
        position: fixed;
        display: none;

    }
    
    #responsive-menu {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #000;
        color: #fff;
        z-index: 2;
    }

    #responsive-menu .logo {
        margin: 0;
        padding: 24px 16px;
    }

    #responsive-menu .logo h3 {
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 24px;
        color: #fff;
    }
    
    #open_menu-icon {
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #open_menu-icon:hover {
        background-color: #ccc;
        color: #000;
        cursor: pointer;
    }

    #open_menu-icon:hover i {
        color: #000;
    }

    #open_menu-icon i {
        color: #fff;
        font-size: 22px;
    }


    #overlay {
        display: none;

    }

    .overlay {
        z-index: 1;
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 100vh;
        opacity: 0.5;
    }
    
    #mySidebar .logo .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        padding: 5px 14px;
        text-align: center;
        color: #333;
        display: block;
    }

    #mySidebar .logo .closebtn:hover {
        text-decoration: none;
    }


}


@media (min-width: 993px) {

    #newsletter .newsblock {
        width: 900px;
}


}


@media (max-width:768px) {

	#bigshop .bigsblock .bigstext h1 {
        font-size: 36px;
 }

    #bigshop .bigsblock .bigstext h2 {
        font-size: 20px;
}

    .container {
        max-width: none;
}

    #newsletter .newsblock {
        width: 500px;
}


}


@media (max-width: 414px) {
    
    #newsletter .newsblock {
        width: 90%;
    }


}

