* {
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, a {
    font-family: "Montserrat", sans-serif;
    
}

html {box-sizing:border-box}*,*:before,*:after{box-sizing:inherit;}


h3 {
	font-size: 24px;
}

button {
	font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.nopadding {
   padding: 0;
   margin: 0;
}

a {
	font-family: "Roboto", sans-serif;
	text-decoration: none;
}



.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.container {
	max-width: 1200px;
	margin: auto;
	display: grid;
    grid-template-columns: 250px auto;

}

.block {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}





/*Sidebar style START*/

nav {
	position: sticky;
    top: 0;
    overflow: auto;
    height: 100vh;
}

nav .logo {
	padding: 16px;
}

nav .logo h3 {
	letter-spacing: 4px;
	font-size: 24px;
	margin: 10px 0;
}

nav .menu {
	font-weight: bold;
	padding: 64px 0;
	font-size: 16px;
}

nav .menu ul {
	list-style: none;
}

nav .menu ul li a {
	width: 100%;
    display: block;
    padding: 8px 16px;
    color: #757575;
}

nav .menu ul li a:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

nav .menu .m_down ul {
	padding: 12px 24px;
	display: none;	
}

nav .menu .menu-margin-right {
    margin-right: 16px
}

/*nav .menu a:focus {
	background-color: #ccc;
	color: #000;	
}
*/

#active {
	background-color: #ccc;
	color: #000;
}

.menu-show {
	display:block!important;
}

.menu-footer ul li {
	list-style: none;
}

.menu-footer ul li {
	list-style: none;
}

.menu-footer ul li a {
	width: 100%;
    display: block;
    padding: 8px 16px;
    color: #000;
}

.menu-footer ul li a:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

/*Sidebar style START*/


/*Responsive menu START*/

#mySidebar .logo .closebtn {
	display: none;
}

#responsive-menu {
	display: none;
}

/*Responsive menu END*/





header {
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 24px;
}

header p {
	margin: 0;
	padding: 0;
}

header .r-search i {
	margin-right: 10px;
	font-size: 20px
}

header .r-search form input {
	border: none;
	padding-left: 35px;
	padding-right: 5px;
	font-size: 15px;
	width: 40px;
	font-size: 18px;
	background-color: white;
	background-image: url(images/search.svg);
	background-size: 21px 21px;
	background-position: 4px 0px;
	background-repeat: no-repeat;
	transition: width 0.4s ease-in-out;
	font-family: "Roboto", sans-serif;
}

header .r-search form i {
    position: absolute;
    font-size: 20px;
    top: 9px;
    right: 1px
}

header .r-search form input:focus {
	width: 200px;
	outline: none;
}

header .r-search form input::placeholder {
	color: #000;
	font-family: "Roboto", sans-serif;
}




#bigshop .bigsblock {
 	position: relative;

}

#bigshop .bigsblock img {
	width: 100%;
	
}

#bigshop .bigsblock .bigstext {
	position: absolute;
	padding: 24px 48px;
	color: #fff;
	top: 0;
	left: 0;
}

#bigshop .bigsblock .bigstext h1 {
	font-size: 64px;
	font-weight: 400;
	margin: 10px 0;
}

#bigshop .bigsblock .bigstext h2 {
	font-size: 36px;
	font-weight: 400;
	margin: 10px 0;
}

#bigshop .bigsblock .bigstext p {
	padding: 0;
	margin-top: 15px;
		
}

#bigshop .bigsblock .bigstext p a {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 12px 24px;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}

#bigshop .bigsblock .bigstext p a:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}

#bigshop .bigsblock .bigstext button {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 12px 24px;
	font-size: 18px;
}

#bigshop .bigsblock .bigstext button:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}




/* START Flex items */

#grid_items .count_items {
	margin: 15px 0;
	color: #757575;
}

#grid_items .shop {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 32px;
	margin-bottom: 20px;
}

#grid_items .shop .grid_item .flex-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#grid_items .shop .grid_item .flex-item img{
	width: 100%;
	
}

#grid_items .shop .grid_item .flex-item span {
	position: absolute;
	left: 0;
    top: 0;
    background-color: #000;
	color: #fff;
	padding: 0 8px;
}


#grid_items .shop .grid_item .flex-item .midd {
	position: absolute;
}

#grid_items .shop .grid_item .flex-item:hover .flex_button {
  opacity: 1;
  color: #fff;
  background-color: #000;
  display: block;
}

#grid_items .shop .grid_item .flex-item .flex_button {
  border: none;
  display: none;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

#grid_items .shop .grid_item .flex-item .flex_button:hover {
	color: #000;
    background-color: #ccc;
    display: block;
}

#grid_items .shop .grid_item .flex-item .flex_button>i {
	padding-left: 10px;
}

#grid_items .shop .grid_item p {
	padding-top: 20px;
}

/* END Flex items */




#subscribe {
	background-color: #000;
	color: #fff;
	padding: 32px 16px;
}

#subscribe h2 {
	font-weight: 400;
	font-size: 36px;
	margin: 10px 0;
}

#subscribe form {
	margin-top: 15px;
}

#subscribe input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

#subscribe button {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 8px 16px;
	margin-bottom: 16px;
	cursor: pointer;
}




#info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #f1f1f1;
	color: #000;
	padding: 64px 0;
}

#info h4 {
	font-weight: 400;
	margin: 10px 0;
}

#info p {
	font-size: 12px;
	color: #000;
}

#info .contact {
	padding: 0 8px;
}

#info .contact form {
	width: 100%;
}

#info .contact form p {
	margin: 12px 0;
}

#info .contact form input{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}

#info .contact button {
	width: 100%;
	background-color: #000;
	color: #fff;
	border: none;
	padding: 8px 16px;
	font-size: 12px;
}

#info .contact button:hover {
    background-color: #ccc;
	color: #000;
	cursor: pointer;
}

#info .about p a{
	text-decoration: underline;
	color: #000;
}

#info .store .falarge{
	font-size: 18px;
}


.center_text {
	display: grid;
	justify-items: center;
}




footer {
	background-color: #000;
	color: #fff;
}

footer p {
	padding: 24px 0;
}

footer p a {
	text-decoration: underline;
	color: #fff;
}

footer p a:hover {
	color: #ccc;
}







/*Newsletter Style Start*/

#newsletter {
    display: none;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;

}

#newsletter .newsoverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 4;
}

#newsletter .newsblock {
    position: absolute;
    width: 600px;
    background-color: #fff;
    color: #000;
    z-index: 5;
}

#newsletter .newsblock .newstext {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

#newsletter .newsblock .newstext i {
  font-size: 24px;
  position: absolute;
  top: 1%;
  right: 0.5%;
  padding: 15px;

}

#newsletter .newsblock .newstext i:hover {
  cursor: pointer;
  background-color: #ccc;


}

#newsletter .newsblock .newstext h2 {
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;

}

#newsletter .newsblock .newstext input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;

}

#newsletter .newsblock .newstext button {
  color: #fff;
  background-color: #f44336;
  padding: 12px 24px;
  margin-bottom: 16px;
  border: none;
}

#newsletter .newsblock .newstext button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/*Newsletter Style Start*/


