body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

body {
	font-size: 15px;
	font-family: Verdana,sans-serif;
}

h3 {
	font-size: 24px;
}

.nopadding {
   padding: 0;
   margin: 0;
}

a {
	font-family: "Roboto", sans-serif;
}




/*Sidebar style START*/

nav {
	position: sticky;
    top: 0;
    overflow: auto;
    height: 100vh;
}

nav .logo {
	padding: 16px;
}

nav .logo h3 {
	letter-spacing: 4px;
	font-size: 24px;
	margin: 10px 0;
}

nav .menu {
	font-weight: bold;
	padding: 64px 0;
	font-size: 16px;
}

nav .menu ul {
	list-style: none;
}

nav .menu ul li a {
	width: 100%;
    display: block;
    padding: 8px 16px;
    color: #757575;
}

nav .menu ul li a:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

nav .menu .m_down ul {
	padding: 12px 24px;
	display: none;	
}

nav .menu .menu-margin-right {
    margin-right: 16px
}

/*nav .menu a:focus {
	background-color: #ccc;
	color: #000;	
}
*/

#active {
	background-color: #ccc;
	color: #000;
}

.menu-show {
	display:block!important;
}

.menu-footer ul li {
	list-style: none;
}

.menu-footer ul li {
	list-style: none;
}

.menu-footer ul li a {
	width: 100%;
    display: block;
    padding: 8px 16px;
    color: #000;
}

.menu-footer ul li a:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

/*Sidebar style START*/


/*Responsive menu START*/

#mySidebar .logo .closebtn {
	display: none;
}

#responsive-menu {
	display: none;
}

/*Responsive menu END*/



/*Content style*/


header {
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 24px;
}

header p {
	margin: 0;
	padding: 0;
}

header .r-search i {
	margin-right: 10px;
	font-size: 20px
}

header .r-search form input {
	border: none;
	padding-left: 35px;
	padding-right: 5px;
	font-size: 15px;
	width: 40px;
	font-size: 18px;
	background-color: white;
	background-image: url(../images/search.svg);
	background-size: 21px 21px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	transition: width 0.4s ease-in-out;
	font-family: "Roboto", sans-serif;
}

header .r-search form i {
    position: absolute;
    font-size: 20px;
    top: 9px;
    right: 1px
}

header .r-search form input:focus {
	width: 200px;
	outline: none;
}

header .r-search form input::placeholder {
	color: #000;
	font-family: "Roboto", sans-serif;
}




#bigshop {

} 

#bigshop .bigsblock {
 	position: relative;

}

#bigshop .bigsblock img {
	width: 100%;
	
}

#bigshop .bigsblock .bigstext {
	position: absolute;
	padding: 24px 48px;
	color: #fff;
	top: 0;
	left: 0;
}

#bigshop .bigsblock .bigstext h1 {
	font-size: 64px;
	font-weight: 400;
	margin: 10px 0;
}

#bigshop .bigsblock .bigstext h2 {
	font-size: 36px;
	font-weight: 400;
	margin: 10px 0;
}

#bigshop .bigsblock .bigstext p {
	padding: 0;
	margin-top: 15px;
		
}

#bigshop .bigsblock .bigstext p a {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 12px 24px;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

#bigshop .bigsblock .bigstext p a:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}

#bigshop .bigsblock .bigstext button {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 12px 24px;
	font-size: 18px;
}

#bigshop .bigsblock .bigstext button:hover {
	background-color: #ccc;
	color: #000;
	cursor: pointer;
}




#items {
	margin-top: 10px;
}

#items .item {
  position: relative;
}

#items .item img {
  width: 100%;
}


#items .item:hover .middle button {
  opacity: 1;
  color: #fff;
  background-color: #000;
  display: inline-block;
  
}

#items .item .middle button {
  opacity: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

#items .item .middle button:hover {
	color: #000;
    background-color: #ccc;
}

#items .item .middle button>i {
	padding-left: 10px;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#items .item span {
	position: absolute;
	left: 0;
    top: 0;
    background-color: #000;
	color: #fff;
	padding: 0 8px;
}





/* Flex items */

#items .item .flex-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#items .item .flex-item .midd {
	position: absolute;
}

#items .item .flex-item:hover .flex_button {
  opacity: 1;
  color: #fff;
  background-color: #000;
  display: inline-block;
}

#items .item .flex-item .flex_button {
  border: none;
  display: none;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

#items .item .flex-item .flex_button:hover {
	color: #000;
    background-color: #ccc;
    display: block;
}

#items .item .flex-item .flex_button>i {
	padding-left: 10px;
}
/* END Flex items */




#subscribe {
	background-color: #000;
	color: #fff;
	padding: 32px 16px;
}

#subscribe h2 {
	font-weight: 400;
	font-size: 36px;
	margin: 10px 0;
}

#subscribe input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

#subscribe button {
	background-color: #f44336;
	color: #fff;
	border: none;
	padding: 8px 16px;
	margin-bottom: 16px;
	cursor: pointer;
}




#inf {
	background-color: #f1f1f1;
	color: #000;
	padding: 64px 0;
}

#inf h4 {
	font-weight: 400;
	margin: 10px 0;
}

#inf p {
	font-size: 12px;
	color: #000;
}

#inf .contact {
	padding: 0 8px;
}

#inf .contact form p {
	margin: 12px 0;
}

#inf .contact form input{
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}

#inf .contact button {
	width: 100%;
	background-color: #000;
	color: #fff;
	border: none;
	padding: 8px 16px;
	font-size: 12px;
}

#inf .contact button:hover {
    background-color: #ccc;
	color: #000;
	cursor: pointer;
}

#inf .about p a{
	text-decoration: underline;
	color: #000;
}

#inf .store .falarge{
	font-size: 18px;
}




footer {
	background-color: #000;
	color: #fff;
}

footer p {
	padding: 24px 0;
}

footer p a {
	text-decoration: underline;
	color: #fff;
}

footer p a:hover {
	color: #ccc;
}




/*Newsletter Style Start*/

#newsletter {
    display: none;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;

}

#newsletter .newsoverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 4;
}

#newsletter .newsblock {
    position: absolute;
    width: 600px;
    background-color: #fff;
    color: #000;
    z-index: 5;
}

#newsletter .newsblock .newstext {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

#newsletter .newsblock .newstext i {
  font-size: 24px;
  position: absolute;
  top: 1%;
  right: 0.5%;
  padding: 15px;

}

#newsletter .newsblock .newstext i:hover {
  cursor: pointer;
  background-color: #ccc;


}

#newsletter .newsblock .newstext h2 {
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;

}

#newsletter .newsblock .newstext input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;

}

#newsletter .newsblock .newstext button {
  color: #fff;
  background-color: #f44336;
  padding: 12px 24px;
  margin-bottom: 16px;
  border: none;
}

#newsletter .newsblock .newstext button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/*Newsletter Style Start*/


