.checkboxes {
    display: block;
}

#gradi{
    display: block;
}

body {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

ul>li{
    list-style: none;
}

.fa-arrow-right {
    font-size: 11px;
    color: darkgray;
}

.fa-arrow-down {
    font-size: 11px;
}

.fa-user-times {
    font-size: 11px;
    color: darkgray;
    padding-left: 10px;
}



p>i {
    color: #ff0000;
    margin-left: 20px;
}

.section_1 {
    width: 40%;
    height: 100vh;
    border: 2px solid darkgray;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.section_2 {
    width: 40%;
    height: 100vh;
    border: 2px solid darkgray;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.section_2>div {
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
    padding: 10px;
    margin-top: 6px;
}

.section_2>div>button{

    display: none;
    margin-left: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
};

.section_2>div>button:first-child{
  color: red;

};

.duplicateName {
    color: green;
}