* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
}

.wrapper{
    background-image:
            radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
            radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    /*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
}

.calculator{
    width: 200px;
}

.calculator__textview{
    width: 100%;
    background-color: rgba(169, 169, 169, 0.02);
    color: #c97874;
    height: 30px;
    text-align:right;
    padding: 4px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    /*border: 1px solid rgba(0, 0, 0, 0.17);*/
}

.calculator__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    font-size: 16px;
    width: 48px;
    height: 50px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin: 1px;
    cursor: pointer;
}

.button:active{
    background: #201e40;
}

.button:last-of-type {
    width: 148px;
}

.button--dark{
    background: rgba(42, 50, 113, 0.28);
    color: #6cacc5;
}

.button--yellow{
    background: rgba(42, 50, 113, 0.28);
    color: #6cacc5;
}