@import "https://fonts.googleapis.com/css?family=Rubik:400,500,700";body {
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: rubik,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #707070;
    line-height: 26px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden
}

h1,h2,h3,h4,h5,h6 {
    font-family: rubik,sans-serif;
    color: #404040;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: 0;
}

.hero-heading {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 1px
}

.hero-sub-heading {
    font-size: 1.5em;
    font-weight: 400;
    color: #e6e6e6;
    line-height: 1.5em;
}


.section-titile-bg {
    display: inline;
    font-size: 115px;
    font-weight: 700;
    height: 100%;
    left: -173px;
    opacity: .1;
    position: absolute;
    top: -14px;
    width: 100%;
    text-align: center;
}

.small-title {
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
}

.Material-section-quote blockquote {
    border-left-width: 2px
}

.sub-quote p {
    padding-left: 20px
}

.section-title {
    color: #404040;
    font-family: rubik,sans-serif;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: .3px;
    text-align: left;
    position: relative;
    margin-bottom: 45px;
    text-transform: capitalize
}

.section-title:before {
    position: absolute;
    content: '';
    bottom: -7px;
    width: 40px;
    height: 2px;
}

.subtitle {
    font-size: 20px;
    letter-spacing: .3px;
    margin-top: 20px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px
}

.inner-title {
    font-size: 24px;
    font-weight: 900;
    text-tranform: capitalize
}

.page-tagline {
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(255,255,255,.7)
}

.page-title {
    font-size: 62px;
    font-weight: 900;
    color: #fff
}

.contact-title {
    font-weight: 900;
    font-size: 38px;
    color: #333
}

.btn-common {
    padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff!important;
    border-radius: 2px;
	box-shadow: 0 2px 2.7px .1px rgba(0,0,0,.24)!important;
}

.btn-common:hover, .btn-common:focus, .btn-common:active {
    box-shadow: 0 4px 4.7px .3px rgba(0,0,0,.24)!important;
}

.btn-border {
    font-weight: 500;
    padding: 9px 20px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 2.7px .1px rgba(0,0,0,.24);
}

.btn-border:hover,.btn-border:focus,.btn-border:active {
    background-color: #eee!important
}

.btn-round {
    color: #fff!important
}

.material-icons {
    font-size: 24px;
    line-height: 1
}

.btn.btn-fab,.input-group-btn .btn.btn-fab {
    border-radius: 50%;
    font-size: 24px;
    height: 40px;
    margin-right: 10px;
    min-width: 40px;
    width: 40px;
    padding: 0
}

.section-dark {
    background-color: #f9f9f9;
    z-index: -2
}

a.back-to-top {
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none
}

a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

a.back-to-top:hover,a.back-to-top:focus {
    text-decoration: none
}


.loader {
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto
}

.section-padding {
    padding: 45px 0
}

.no-padding {
    padding: 0!important
}

.padding-left-none {
    padding-left: 0
}

.padding-right-none {
    padding-right: 0
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.navbar-brand {
    position: relative
}

.navbar-brand .ripple-container {
    display: none
}

.navbar-brand img {
    width: 120px
}

.top-nav-collapse {
    background: #fff;
    z-index: 999999;
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.top-nav-collapse .nav-link {
    color: #333!important;
    margin-top: 0
}

.top-nav-collapse .nav-link:hover {
    color: rgba(0,0,0,.6)
}

.top-nav-collapse .navbar-brand {
    top: 0
}

.nav-bg {
    background: #fff
}

.nav-bg .navbar-nav .nav-link {
    color: #333!important
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 0 18px;
    font-size: 14px;
    color: #fff;
    font-family: rubik,sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 0;
    border-top: 3px solid transparent;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #2196f3
}

.navbar-expand-lg .navbar-nav .nav-link .ripple-container {
    display: none
}

.navbar {
    padding: 0
}

.navbar li a.nav-link i {
	display:none;
	float: right;
	background: #ededed;
	color: #666;
	width: 35px;
	text-align: center;
}

.navbar li.active a.nav-link {
    color: #2196f3
}

.dropdown-toggle::after {
    display: none
}

.dropdown-menu {
    list-style: none;
    margin: 0 30px;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 195px;
    white-space: nowrap;
    border-radius: 2px;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    animation: .4s ease 0s normal none 1 running fadeInUpMenu
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    animation: .4s ease 0s normal none 1 running fadeInUpMenu
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 10px 20px;
    font-size: 13px;
    color: #202020;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    border-top: 1px solid rgba(0,0,0,.03);
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out
}

.dropdown .dropdown-item:focus,.dropdown .dropdown-item:hover {
    background-color: #fafafa
}

.dropdown-item.active,.dropdown-item:active {
    background: 0 0
}

@-webkit-keyframes fadeInUpMenu {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fadeInUpMenu {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu
}

.search-side {
    position: relative;
    float: right;
    top: 0;
    right: -20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.search-icon span {
    position: relative;
    display: block;
    cursor: pointer;
    margin-left: 20px
}

.search-icon span i {
    font-size: 22px!important;
    display: block;
    border-radius: 2px;
    padding: 2px 8px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.search-icon:hover i {
    color: #666
}

.navbar-form {
    background: #fff;
    z-index: 9001;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border: 0;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    height: 60px
}

.navbar-form .form-group {
    height: 100%;
    width: 100%;
    margin: 10px 22px
}

.navbar-form .form-control {
    color: #333;
    border-radius: 0;
    outline: 0;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 400;
    line-height: 30px
}

.navbar-form .has-feedback .close {
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 0;
    margin-top: -15px;
    line-height: 15px;
    color: #333;
    font-size: 22px
}

#main-slide .carousel-control {
    display: none;
    transition: all .3s ease-in-out
}

#main-slide .carousel-indicators {
    cursor: pointer
}

#main-slide:hover .carousel-control {
    display: block;
    transition: all .3s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

#main-slide .carousel-item img {
    position: relative;
    width: 100%;
    max-height: 670px
}

#main-slide .carousel-inner .carousel-item::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

#main-slide .carousel-item .carousel-caption {
    opacity: 0;
    transition: opacity 100ms ease 0s;
    z-index: 0
}

#main-slide .carousel-item .carousel-caption .hero-sub-heading {
    color: #fff
}

#main-slide .carousel-item.active .carousel-caption {
    opacity: 1;
    transition: opacity 100ms ease 0s;
    z-index: 1
}

#main-slide .carousel-caption {
    color: #fff;
    position: absolute;
    top: 35%
}

#main-slide .carousel-indicators li {
    width: 30px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px
}

.about-single {
    text-align: center;
    padding: 0 15px
}

.about-single i {
    border-radius: 50%;
    font-size: 50px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    background: transparent;
    transition: all .2s ease-in-out 0s
}

.about-single:hover {
    cursor: pointer
}

.about-single:hover i {
    font-size: 25px;
    color: #fff;
    transition: all .2s ease-in-out 0s;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    cursor: pointer
}

.video-gallery {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    overflow: hidden
}

.video-gallery .overlay-gallery {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease
}

.video-gallery .icon-holder {
    display: table;
    width: 100%;
    height: 100%
}

.video-gallery .icon-holder .icon {
    display: table-cell;
    vertical-align: middle
}

.video-gallery .icon-holder .icon i {
    font-size: 80px;
    color: #fff;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease
}

.video-gallery:hover .icon i {
    color: #fff
}


.single-service-widget {
    margin: 25px 0
}

.single-service-widget i {
    font-size: 50px;
    padding-right: 15px;
    line-height: 45px
}

.single-service-widget p {
    color: #999
}

.single-service-widget h2 {
    margin-top: 0;
    text-transform: capitalize;
    transition: all .3s ease-in-out
}

.single-service-widget:hover .pulse-shrink {
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.features-block .media-left i {
    color: #fff;
    line-height: 80px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background: #5065d8;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    padding: 0;
    font-size: 40px
}

.features-block .media-body {
    margin-left: 15px
}

@-webkit-keyframes pulse-shrink {
    to {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes pulse-shrink {
    to {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }
}

.pulse-shrink {
    display: inline-block
}

#Material-portfolio .mix {
    padding-bottom: 30px;
    margin: -2px
}

.portfolio-nav ul.nav {
    float: right
}

.portfolio-nav ul.nav li a {
    font-size: 15px;
    color: #333;
    background-color: #eee;
    padding: 7px 12px;
    margin: 4px;
    display: block;
    border-radius: 2px;
    text-transform: capitalize;
    cursor: pointer
}

.portfolio-nav ul.nav li a:hover {
    background: #2196f3;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.portfolio-nav ul.nav li a.active {
    background: #2196f3;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

figure {
    position: relative;
    margin: 0;
    overflow: hidden
}

figure img {
    width: 100%
}

figure figcaption {
    background: #fff;
    bottom: 0;
    padding: 0 20px;
    position: absolute;
    width: 100%;
    margin-bottom: -15px;
    opacity: 0;
    transition: height .5s ease 0s
}

figure figcaption h2 {
    text-transform: capitalize;
    transition: all .5s ease 0s
}

figure figcaption a.btn {
    float: right;
    position: absolute;
    right: 0;
    top: 25px;
    width: 20px!important;
    transition: all .5s ease 0s
}

figure:hover figcaption {
    transition: all .5s ease 0s;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 0
}

#conatiner-map {
    width: 100%;
    height: 480px
}

.contact-widget-section .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    height: 260px;
    margin-top: 25px;
    transition: all .3s ease-in-out
}

.contact-widget-section .single-contact-widget i {
    font-size: 75px
}

.contact-widget-section .single-contact-widget h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px
}

.contact-widget-section .single-contact-widget p {
    line-height: 16px
}

.contact-widget-section .single-contact-widget:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.46);
    cursor: pointer;
    transition: all .3s ease-in-out
}

#contactForm {
    margin-top: -10px
}

#contactForm .form-group label.control-label {
    color: #8c8c8c
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}

.google-map-container {
    box-shadow: 0 1px 4px rgba(0,0,0,.26)
}

.google-map-container #google-map-contact {
    height: 300px
}

.contact-widget-section2 h2 {
    margin-bottom: 30px
}

.contact-widget-section2 .find-widget {
    padding: 10px 0
}

.contact-widget-section2 .find-widget a {
    color: #333;
    font-size: 14px
}

.contact-widget-section2 .find-widget i {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

.Material-contact-section ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.Material-contact-section ul li {
    color: #777;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 28px;
    min-height: 35px;
    width: 100%
}

.Material-contact-section ul li i {
    width: 35px;
    background: #f50057;
    height: 35px;
    border: 1px solid #f50057;
    border-radius: 2px;
    line-height: 30px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 18px;
    top: 4px;
    margin-right: 10px
}

.Material-our-team-section {
    padding-bottom: 200px
}

.single-team-widget {
    background: #f5f5f5;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    margin-bottom: 20px
}

.single-team-widget img {
    text-align: center
}

.single-team-widget:hover {
    -webkit-box-shadow: 0 2px 10px 2px rgba(221,221,221,.73);
    -moz-box-shadow: 0 2px 10px 2px rgba(221,221,221,.73);
    box-shadow: 0 2px 10px 2px rgba(221,221,221,.73)
}

.single-team-widget p {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px
}

.single-team-widget .team-member-info {
    height: 130px;
    background: #fff;
    padding: 5px 20px
}

.single-team-widget .team-member-info .know-more {
    position: absolute;
    right: 10%;
    bottom: 12%;
    display: none
}

.single-team-widget .team-member-info .social-profiles .mdi {
    color: #8c8c8c;
    font-size: 18px;
    padding-right: 5px;
    transition: all .3s ease-in-out
}

.single-team-widget .team-member-info .social-profiles .mdi.mdi-twitter:hover {
    transition: all .3s ease-in-out;
    color: #1da1f2
}

.single-team-widget .team-member-info .social-profiles .mdi.mdi-facebook:hover {
    transition: all .3s ease-in-out;
    color: #3b5998
}

.single-team-widget .team-member-info .social-profiles .mdi.mdi-dribbble:hover {
    transition: all .3s ease-in-out;
    color: #ea4c89
}

.single-team-widget .team-member-info .social-profiles .mdi.mdi-linkedin:hover {
    transition: all .3s ease-in-out;
    color: #1769ff
}

.single-team-widget:hover {
    cursor: pointer
}

.single-team-widget:hover .know-more {
    display: block;
    animation: .4s ease 0s normal none 1 running fadeInUpMenu
}

.team-single .team-thumb {
    text-align: center
}

.team-single .team-thumb img {
    border: 4px solid #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

.team-single .team-text h3 {
    font-size: 30px;
    color: #404040;
    text-transform: uppercase;
    margin-bottom: 10px
}

.team-single .team-text h5 {
    color: #999;
    margin-bottom: 30px
}

.team-single .social-single {
    margin-top: 30px
}

.team-single .social-single a i {
    width: 48px;
    font-size: 24px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    background: #5065d8;
    border-radius: 3px;
    margin-right: 10px;
    color: #fff
}

.team-single .social-single .mdi.mdi-twitter:hover {
    transition: all .3s ease-in-out;
    background: #1da1f2
}

.team-single .social-single .mdi.mdi-facebook:hover {
    transition: all .3s ease-in-out;
    background: #3b5998
}

.team-single .social-single .mdi.mdi-dribbble:hover {
    transition: all .3s ease-in-out;
    background: #ea4c89
}

.team-single .social-single .mdi.mdi-linkedin:hover {
    transition: all .3s ease-in-out;
    background: #1769ff
}

.single-about h3 {
    font-size: 20px;
    margin-bottom: 20px
}

.single-about p {
    color: #999
}

#team-slide .owl-carousel .owl-controls .owl-page span {
    background: #ddd
}

#team-slide .owl-carousel .owl-controls .owl-page.active span {
    color: #5166d8!important
}

.testimonial {
    background: url(../images/testimonial/testimonial_bg.jpg);
    background-attachment: fixed;
    overflow: hidden;
    position: relative
}

.testimonial-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px
}

.testimonial-item .img {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px auto
}

.testimonial-item .img img {
    border-radius: 50%;
    box-shadow: 0 1px 8px #fff;
    border: 3px solid #fff
}

.testimonial-item .datils {
    text-align: center
}

.testimonial-item .datils h5 {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin: 15px 0 6px
}

.testimonial-item .datils span {
    color: rgba(255,255,255,.5)
}

.testimonial-item .datils p {
    margin: 5px 0 20px;
    color: #fff
}

.client {
    border-bottom: 1px solid #e9e9e9
}

.client .client-logo {
    text-align: center;
    transition: all .2s ease-in-out 0s
}

.client .client-logo img {
    transition: all .2s ease-in-out 0s
}

.client .client-logo:hover,.client .client-logo.active {
    transition: all .2s ease-in-out 0s
}

.client .client-logo:hover img,.client .client-logo.active img {
    cursor: pointer;
    transition: all .2s ease-in-out 0s
}

.single-blog-post {
    margin-bottom: 30px;
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out
}

.single-blog-post:hover {
    -webkit-box-shadow: 0 2px 10px 2px rgba(221,221,221,.73);
    -moz-box-shadow: 0 2px 10px 2px rgba(221,221,221,.73);
    box-shadow: 0 2px 10px 2px rgba(221,221,221,.73);
    cursor: pointer
}

.single-blog-post .featured-image img {
    width: 100%
}

.single-blog-post .post-meta {
    padding: 10px 20px
}

.single-blog-post .post-meta .read-more-icon {
    bottom: 100px;
    right: 40px
}

.single-blog-post .post-meta a {
    color: #333
}

.single-blog-post .post-meta a:hover {
    transition: all .2s ease-in-out
}

.single-blog-post .meta-tags {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 19px 20px
}

.single-blog-post .meta-tags .comments i {
    font-size: 15px;
    margin-right: 5px
}

.single-blog-post .meta-tags .btn-round {
    float: right;
    border-radius: 28px;
    font-size: 24px;
    height: 40px;
    margin: -7px auto;
    min-width: 40px;
    width: 40px
}


.single-post {
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    padding: 20px
}

.single-post h2 {
    font-weight: 500;
    font-size: 26px;
    margin: 30px 0
}

.single-post p {
    font-size: 15px;
    line-height: 35px
}

.single-post .single-post-meta {
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid #ddd
}

.single-post .single-post-meta .post-tag {
    float: left
}

.single-post .single-post-meta .post-tag a {
    font-weight: 500;
    font-size: 15px;
    color: #333
}

.single-post .single-post-meta .post-tag a:hover {
    opacity: .6
}

.single-post .single-post-meta .share-post {
    float: right
}

.single-post .single-post-meta .share-post i {
    font-size: 20px;
    margin-right: 10px
}

.single-post .single-post-meta .share-post i:hover {
    opacity: .6
}

.bg-color-dark {
    background: #272727
}

.page-footer {
    background: #272727
}

.page-footer .footer-title {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-bottom: 30px
}

.page-footer p {
    color: #d5d5d5!important;
    line-height: 24px;
    margin: 0
}

.page-footer .icon-list {
    list-style: none;
    padding: 0
}

.page-footer .icon-list li {
    color: #d5d5d5
}

.page-footer .icon-list li a {
    color: #d5d5d5
}

.page-footer .icon-list li a:hover {
    color: #5166d8
}

.page-footer .icon-list li i {
    padding-right: 5px;
    vertical-align: -1px
}

.page-footer .newsletter-wrapper .form-group {
    margin-bottom: 20px
}

.page-footer .newsletter-wrapper .form-group input {
    width: calc(100% - 90px)!important;
    display: inline-block;
    color: #fff;
    padding: 12px 0
}

.page-footer .widget {
    margin-top: 10px
}

.page-footer .widget .widget-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff
}

.page-footer .widget .unordered-list {
    list-style: none;
    padding: 0
}

.page-footer .widget .unordered-list li a {
    color: #d5d5d5
}

.page-footer .widget .unordered-list li a:hover {
    color: #5166d8
}

.page-footer .image-list {
    padding: 0;
    margin: 0
}

.page-footer .image-list li {
    margin-bottom: 15px
}

.page-footer .image-list li .overlay {
    float: left;
    width: 70px;
    height: 60px;
    position: relative;
    overflow: hidden;
    text-align: center
}

.page-footer .image-list li .overlay figcaption {
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    transition: all .3s ease-in-out
}

.page-footer .image-list li .overlay figcaption i {
    color: #fff;
    font-size: 18px
}

.page-footer .image-list li .overlay .from-top {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    transition: all .3s ease-in-out
}

.page-footer .image-list li .overlay:hover figcaption {
    opacity: 1;
    transition: all .3s ease-in-out
}

.page-footer .image-list li .overlay:hover figcaption .from-top {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .3s ease-in-out
}

.page-footer .image-list .post-content {
    margin-left: 85px;
    margin-bottom: 0
}

.page-footer .image-list .post-content .post-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    margin: 0
}

.page-footer .image-list .post-content .post-title a {
    color: #fff
}

.page-footer .image-list .post-content .post-title a:hover {
    color: #5166d8
}

.page-footer .image-list .post-content .meta {
    color: #aaa
}

.page-footer .image-list .post-content .meta span {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px
}

.footer-contact-widget p {
    color: #fff;
    line-height: 24px;
    padding: 5px 0
}

.footer-contact-widget p span {
    font-weight: 700
}

.footer-contact-widget ul {
    margin: 20px 0;
    padding: 0
}

.footer-contact-widget ul li {
    float: left;
    list-style: none
}

.footer-contact-widget ul li a .mdi {
    color: #fff;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    display: block;
    background: #2a2a2f;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    transtion: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi:hover {
    transition: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi-facebook {
    transition: all .3s ease-in-out;
    background: #3b5998
}

.footer-contact-widget ul li a .mdi-facebook:hover {
    opacity: .9;
    transition: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi-twitter {
    background: #1da1f2
}

.footer-contact-widget ul li a .mdi-twitter:hover {
    opacity: .9;
    transition: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi-dribbble {
    background: #ea4c89
}

.footer-contact-widget ul li a .mdi-dribbble:hover {
    opacity: .9;
    transition: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi-github-circle {
    background: #333
}

.footer-contact-widget ul li a .mdi-github-circle:hover {
    opacity: .9;
    transition: all .3s ease-in-out
}

.footer-contact-widget ul li a .mdi-linkedin {
    background: #0177b5
}

.footer-contact-widget ul li a .mdi-linkedin:hover {
    opacity: .9;
    transition: all .3s ease-in-out
}

.footer-copyright {
    line-height: 45px;
    background: #232323;
    color: #999
}

.footer-copyright p {
    margin: 22px 0
}

.footer-copyright .footer-links ul {
    padding-left: 0;
    float: right;
    margin: 10px 0
}

.footer-copyright .footer-links ul li {
    list-style: none;
    float: left
}

.footer-copyright .footer-links ul li a {
    color: #999;
    margin-right: 15px;
    transition: all .3s ease-in-out
}

.footer-copyright .footer-links ul li a .fa {
    padding-right: 4px
}

.footer-copyright .footer-links ul li a:hover {
    color: #fff;
    opacity: .7;
    transition: all .3s ease-in-out
}

.work-counter-widget i {
    font-size: 50px;
    color: #2196f3
}

.work-counter-widget .counter {
    z-index: 999999
}

.work-counter-widget .counter .timer {
    color: #333;
    font-size: 38px;
    margin-top: 15px;
    font-weight: 700
}

.work-counter-widget .counter p {
    margin-top: 19px;
    font-size: 16px;
    font-weight: 700
}


.Material-tab ul.nav.nav-tabs {
    padding: 0 25px;
    background: #fff;
    text-align: center;
    border-bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.26)
}

.Material-tab ul.nav.nav-tabs .nav-item .nav-link {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 30px 8px;
    border-radius: 0;
    position: relative;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid transparent;
    display: inline-block
}

.Material-tab ul.nav.nav-tabs .nav-item .nav-link i {
    font-size: 38px
}

.Material-tab ul.nav.nav-tabs li .active {
    color: #fff !important;
}

.Material-tab .tab-content {
    padding: 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.26)
}

.Material-tab p {
    text-align: justify
}

@media screen and (max-width:991px) {
	.collapse.show {
		overflow-y: scroll;
	}
	.search-icon{
		display:none;
	}
	.navbar li a.nav-link i {
		display:block;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 5px 10px;
		margin: 2px 5px;
	}
    .dropdown:hover .dropdown-menu {
		display:none;
	}
	.hero-heading {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	.hero-sub-heading {
		font-size: 1em;
		line-height: 1em;
	}
	.client .client-logo:last-child {
		display: none;
	}
}


@media screen and (max-width: 768px) {
    .navbar-header {
        width:100%
    }

    .navbar-brand .ripple-container {
        display: none
    }

    .top-nav-collapse .navbar-brand {
        top: 15px
    }
	.video-gallery {
		margin-top: 30px;
	}
	.client .client-logo {
		display: none;
	}
	.client .client-logo:first-child {
		display: block;
	}
	.carousel-indicators {
		display: none;
	}
}

@media(min-width: 768px) and (max-width:991px) {
    #nav-main li a.nav-link {
        padding-top:18px
    }
}