body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: rubik,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #707070;
  line-height: 26px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: rubik,sans-serif;
  color: #404040;
}

.section-padding {
  padding: 45px 0;
}

.no-padding {
  padding: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.section-title {
  color: #404040;
  font-family: rubik,sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: .3px;
  text-align: left;
  margin-bottom: 45px;
}

.subtitle {
  font-size: 20px;
  letter-spacing: .3px;
  margin-top: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.material-single {
  text-align: center;
  padding: 0 15px;
}

.material-single :hover {
  cursor: pointer;
}

.material-single i {
  color: #5166d8;
  border-radius: 50%;
  font-size: 50px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
  background: transparent;
  transition: all .2s ease-in-out 0s;
}
/*# sourceMappingURL=main.css.map */